.home-wrapper {
  padding: 30px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  width: 100%;
  text-align: center;
  max-width: 500px;
}

.category-card {
  border-radius: 30px;
  overflow: hidden;
  border: none;
  height: 170px;
  cursor: pointer;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  position: relative;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
  }
}

.image-col {
  position: relative;

  .image-bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}

.content-col {
  // background: linear-gradient(135deg, #3e4040, #858585);
  background: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  text-align: center;
  // color: white;
  color: #000;
  z-index: 2;

  .icon {
    font-size: 60px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 28px;
    font-weight: 600;
  }
}

.triangle {
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  // border-right: 25px solid #3e4040;
  border-right: 25px solid white;
  z-index: 3;
}

@media (max-width: 768px) {
  .category-card {
    height: 150px;
  }

  .content-wrapper {
    .icon {
      font-size: 28px;
    }

    .title {
      font-size: 18px;
    }
  }
}
